html {
  font-family: 'Lato';
}

body {
  font-family: 'Lato';
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 950px;
  margin: 0 auto;
  margin-top: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 99;
  }

.navbar a {  
    float: left;
    text-align: center;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-size: 22px;
  }

.navbar a:hover {
  color: #246782;
}

.blurb {
  border-left-style: solid;
  border-left-color: #246782;
  max-width: 80%;
  margin: 1% auto;
  float: none;
  padding: 1%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 7px 17px 0 rgba(0,0,0,0.1);
  text-decoration: none;
}

.blurb:hover {
  background-color: rgba(0,0,0,0.03);
}